@font-face {
    font-family: rubik;
    src: url("../../src/shared/assets/fonts/Rubik.ttf");
}

@font-face {
    font-family: rubik, italic;
    src: url("../../src/shared/assets/fonts/Rubik-Italic.ttf");
}
