.button {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font: var(--font-m);
    padding: 10px 25px;
    width: auto;
    outline: none;
    transition: 0.2s;

    &:disabled {
        cursor: default;
    }

    &.l {
        font: var(--font-l);
    }

    &.xl {
        font: var(--font-xl);
    }

    &.default {
        background-color: var(--main-color);
        color: var(--inverted-main-color);

        &:hover {
            background-color: var(--hovered-main-color);
        }

        &:disabled {
            background-color: var(--disabled-main-color);
        }
    }

    &.text {
        background: none;
        border: none;
        color: var(--secondary-color);
        padding: 0;
        margin: 0;

        &:hover {
            color: var(--main-color);
        }

        &:disabled {
            background-color: var(--disabled-main-color);
            color: inherit;
        }
    }

    &.outline {
        background-color: var(--inverted-bg-color);
        border: 1px solid var(--main-color);
        color: var(--main-color);
        padding: 9px 24px;

        &:hover {
            background-color: var(--bg-color);
        }

        &:disabled {
            background-color: #ccc;
        }
    }

    &.secondary {
        border: none;
        background-color: var(--inverted-bg-color);
        color: var(--secondary-color);

        &:hover {
            color: var(--main-color);
        }

        &:disabled {
            background-color: var(--disabled-main-color);
            color: inherit;
        }
    }

    &.square {
        border-radius: 5px;
        padding: 0;
        width: var(--font-line-m);
        height: var(--font-line-m);

        &.l {
            width: var(--font-line-l);
            height: var(--font-line-l);
        }

        &.xl {
            width: var(--font-line-xl);
            height: var(--font-line-xl);
        }
    }
}
