.sidebar {
    box-shadow: 0 0 20px 0 rgb(89 102 122 / 10%);
    background: var(--inverted-bg-color);
    width: var(--sidebar-width-close);
    height: 100vh;
    transition: 0.4s;
    z-index: 1;

    .logo__container {
        padding: 1.25rem 0.25rem 0.25rem;
        max-height: 120px;
    }

    .sidebar_menu__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > li {
            padding: 0 0.75rem;
        }
        .sidebar_menu__item {
            border-radius: 10px;
            display: block;
            cursor: pointer;
            width: 100%;
            color: var(--secondary-color);
            padding: 0.75rem 0.94rem;

            &:hover,
            &.active {
                color: var(--main-color);
                background-color: var(--main-color-light);
            }
        }
    }

    &.open {
        width: var(--sidebar-width);

        .logo__container {
            padding: 1.25rem 1.875rem 1.875rem;
        }
    }
}