.sidebar {
    box-shadow: 0 0 20px 0 rgb(89 102 122 / 10%);
    background: var(--inverted-bg-color);
    width: var(--sidebar-width-close);
    height: 100vh;
    transition: 0.4s;
    z-index: 1;

    &.open {
        width: var(--sidebar-width);
    }

    .logo__container {

        .logo {
            width: 100%;
        }

    }
}