.app.default {
  --bg-color: #a69f9f;
  --inverted-bg-color: #1f1f8f;

  --main-color: #a057e3;
  --inverted-main-color: #a057e3;

  --secondary-color: #683486;
  --inverted-secondary-color: #683486;
}