@import "app/styles/mixines/breakpoints.scss";

.app {
    border: 1px solid green;
}

.page_wrap {
    display: flex;
    width: 100%;

    .wrap_content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        @include breakpoints(tablet) {
            margin-left: var(--sidebar-width-close);
        }

        @include breakpoints(mobile) {
            margin-left: var(--sidebar-width-close-mobile);
        }

        .page_content {
            flex-grow: 1;
            padding: 2rem;
        }
    }
}
