@import "styles/reset";
@import "styles/variables/global";
@import "styles/themes/default";
@import "styles/themes/dark";

.app {
  background: var(--bg-color);
  color: var(--main-color);
  font: var(--font-m);

  min-height: 100vh;
}